@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

body {
    background: linear-gradient(to bottom, white, #eee, white);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*NavBar y Footer*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.nav-links a {
    color: black;
    transition: background-color 5s ease-out 100ms
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu a:hover {
    color: black;
    border-radius: 5px;
}

.menu li {
    padding: 5px 14px;
}

.services {
    position: relative;
}


input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: grey;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    #login {
        border: 2px solid transparent;
        border-radius: 25px;
        padding: 10px;
    }



    .menu li:hover {
        display: inline-block;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    margin-top: 2%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}

.socials a:hover i {
    color: grey;
}

#login {
    border-radius: 25px;
    padding: 12px;
    background-color: black;
    color: white;

}

#login:hover {
    border-radius: 25px;
    color: black;
    background-color: #fff;
    transition: 1s;
    border: 1px solid black;
}

/*Fin NavBar y Footer*/

/*Contacto*/

.background {
    display: flex;
    min-height: 100vh;
    margin-bottom: -10%;
}

.container {
    flex: 0 1 700px;
    margin-top: 2%;
    margin-left: 30%;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: red;
}

.screen-header-button.maximize {
    background: yellow;
}

.screen-header-button.minimize {
    background: green;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.info-tienda {
    margin-top: 7%;
    color: #fff;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;

}

.app-form-control::placeholder {
    color: #fff;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: grey;
}


@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

/*Fin Contacto*/

/*Carta*/

table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
}

td,
th {
    text-align: left;
    padding: 8px;
}

.carta {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

th {
    font-size: 20px;
}

/*Fin Carta*/

/*Historia*/

.div-historia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.texto-historia {
    font-size: 20px;
    text-align: center;
}
/*Fin historia*/

/*Login*/

.screen-1 {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 40%;
}

.screen-1 .logo {
    margin-top: -3em;
}

.screen-1 .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
}

.screen-1 .email input {
    outline: none;
    border: none;
}

.screen-1 .email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .email input::placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}

.screen-1 .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
}

.screen-1 .password input {
    outline: none;
    border: none;
}

.screen-1 .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .password input::placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}

.screen-1 .password .show-hide {
    margin-right: -5em;
}

.screen-1 .login {
    padding: 1em;
    background: grey;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
}

.screen-1 .footer {
    display: flex;
    font-size: 0.8em;
    color: black;
    gap: 10em;
    padding-bottom: 10em;
}

.screen-1 .footer span {
    cursor: pointer;
}

button {
    cursor: pointer;
}

/*Fin Login */

.center {
    text-align: center !important;
    align-self: center !important;
}

.carta {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 8rem;
    grid-auto-rows: minmax(100px, auto);
}

.btn-pedir {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 1%;
}

.btn-pedir:hover {
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    margin-top: 1%;
    border: 1px solid #000;
    transition: 1s;
}

.card{
    margin-top: 2% !important;
    width: 18rem !important;
}

.btn.btn-primary.bg-dark{
    border: 1px solid #000;
}

.btn.btn-primary.bg-dark:hover{
    background-color: #fff !important;
    color: #000;
    border: 1px solid #000;
    transition: 1s;
}

h1{
    font-weight: bold;
}

.card-img-top{
    margin: 2%;
}

